@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-flow: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    margin: 0 16px;
}

a {
    color: gray;
    text-decoration: none;
}

.header,
.footer {
    display: flex;
    justify-content: space-between;
}

.footer {
    background-color: gainsboro;
}

.left-links,
.right-links {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.content div {
    margin: 8px;
}