* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 16px;
}

a {
    text-decoration: none;
    font-size: 24px;
    color: white;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 30px;
  font-weight: 900;
  padding: 16px;
}

.content {
  flex-grow: 1;
  display: flex;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  min-width: 300px;
  max-width: 300px;
}

.cards {
  padding: 48px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  max-width: 350px;
  padding: 16px;
  margin: 16px;
}